# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# CMake output directory
./build/

# Unity stuff
UnityProject/[Ll]ibrary
UnityProject/[Tt]emp
UnityProject/[Oo]bj
UnityProject/*.csproj
UnityProject/*.sln
UnityProject/*.pidb
